A
{
  text-decoration: none;
}
body
{
  background: #CBD0D8 ;
}
#header
{
  position: fixed;
  top:0px;
  background: #333D51;
  left: 0px;
  padding: 0.5%;
  width: 100%;
  height: 10%;
  z-index : 10;

}
.header_link
{
  position: relative;
  text-align: center;
  height: 80%;
  background: rgb(71, 81, 150);
  width:18%;
  position: relative;
  left: auto;
  border-radius: 15px;
  top: 10%;
  vertical-align:top;
}
.header_link:hover
{
  transition-duration: 1s;
  background:rgb(91, 101, 205)
}
.h2_link
{
  transition-duration: 1s;
  color: #CBD0D8;
  font-size: 3vh;
}
.h2_link:hover
{
  color: rgb(243, 248, 255)
}
#zs6_logo
{
  position: absolute;
  height: 80%;
  top: 10%;
  left:5%;
}
#link1
{
  position: absolute;
  left: 12%;
}
#link2
{
  position: absolute;
  left: 32%;
}
#link3
{
  position: absolute;
  left: 52%;
}
#link4
{
  position: absolute;
  left: 72%;
}
#center
{

}
#footer
{
  position: absolute;
  top:1000%;
}
.opinion
{
  position: absolute;
  height: 50%;
  width: 19.5%;
  z-index :0;
  background: #D3AC2B;
}
#opinion_1
{
  top: 20%;
  left:5%;
  z-index :0;
}
#opinion_2
{
  top: 30%;
  left:27.5%;
  z-index :0;
}
#opinion_3
{
  top: 20%;
  left:50%;
  z-index :0;
}
#opinion_4
{
  top: 30%;
  left:72.5%;
  z-index :0;
}
